@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/LeagueSpartan-Regular.ttf') format('truetype');
  /* Replace the font file name and format if necessary */
  font-style: normal;
}
@font-face {
  font-family: 'League Spartan Bold';
  src: url('../assets/LeagueSpartan-Bold.ttf') format('truetype');
  /* Replace the font file name and format if necessary */
  font-weight: bold;
  font-style: normal;
}
.app__header-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%; 
  width: 100%; 
  z-index: -1; 
}

.overlay_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; 
} 
.effect {
  perspective: 1000px;
}

.effect img {
  transform: rotateY(20deg) rotateX(10deg);
  transition: transform 0.5s;
}

.effect img:hover {
  transform: rotateY(0) rotateX(0);
}
