@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/LeagueSpartan-Regular.ttf') format('truetype');
  /* Replace the font file name and format if necessary */
  font-style: normal;
}
@font-face {
  font-family: 'League Spartan Bold';
  src: url('../assets/LeagueSpartan-Bold.ttf') format('truetype');
  /* Replace the font file name and format if necessary */
  font-weight: bold;
  font-style: normal;
}

